In [12]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/rawdata/Bike-Sharing-Dataset/day.csv')

df = (pd.DataFrame(data=data)
       .rename(columns={"atemp":"air_temp","cnt":"count"})
       .drop(columns=["dteday","season","yr","mnth","weekday","workingday","holiday"]))
df.head()

,instant,weathersit,temp,air_temp,hum,windspeed,casual,registered,count
0,1,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600