In [35]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/rawdata/Bike-Sharing-Dataset/day.csv')

df = (pd.DataFrame(data=data)
       .rename(columns={"atemp":"air_temp","cnt":"count"})
       .dropna()
       .drop(columns=["dteday","season","yr","mnth","weekday","workingday","holiday"]))
df.head()

,instant,weathersit,temp,air_temp,hum,windspeed,casual,registered,count
0,1,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [31]:
def load_and_process(data):
    df1 = (pd.DataFrame(data=data)
       .rename(columns={"atemp":"air_temp","cnt":"count"})
       .dropna())
    df2 = (df1
       .drop(columns=["dteday","season","yr","mnth","weekday","workingday","holiday"]))
    return df2

load_and_process(data)

,instant,weathersit,temp,air_temp,hum,windspeed,casual,registered,count
0,1,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...
726,727,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729